<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration PUBLIC "-//LOGGER" "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">
<log4j:configuration>

    <!-- append to standard output -->
    <appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
	  <param name="Target" value="System.out"/>
	  <layout class="org.apache.log4j.PatternLayout">
	      <param name="ConversionPattern" value="[%d{ISO8601}] %-5p - %m %n" />
	  </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="INFO"/>
            <param name="LevelMax" value="FATAL"/>
        </filter>
    </appender>

    <!--                           -->
    <!-- setup log4j's root logger -->
    <!--                           -->
    <root>
        <level value="all" />
        <appender-ref ref="STDOUT"/>
    </root>
</log4j:configuration>
